[submodule "vim/plugged/typescript-vim"]
	path = vim/plugged/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "qmk_firmware"]
	path = qmk_firmware
	url = https://github.com/qmk/qmk_firmware.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
